/*======= Font rengini #3C373B yapan bir yeni bir universal selector yaratın*/
/* yazı rengi */
* {
  color: #3c373b;
}

h1 {
  font-family: "Gaegu", cursive;
  /* başlığın kapladığı alanın alttan üstten ve sağdan soldan boşlularını yazıyoruz. eğer 0 verirsek containerın içinde olduğu içinde olduğu 
  alana kadar boşluk bırakıyoruz, eksi değerde containerı aşıyor mesela */
  margin: 20px 0;
  /*=======  Font size'ı 60px yapın ve text'i ortalayın(center) */
  font-size: 60px;
  /* metni ortalamak için */
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Gaegu", cursive;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 23px;
}

p {
  font-size: 16px;
  font-family: roboto;
  padding: 10px;
  line-height: 1.4;
  margin: 0;
}

img {
  border-radius: 10px;
  /* bulundağı şeyin içindeki tam genişliği alacak. genişliğini sayı olarak vermeyince sayfayı küçültürsem resim de küüçülüyor*/
  width: 100%;
}

main {
  background: #cfcdca;
  padding: 20px;
}

.content-row {
  display: flex;
}
.content-row div {
  /*======= margin propery yaratın.  Değerini 20px olarak atayın*/
  margin: 20px;
}
.container {
  width: 830px;
  /* container ları ortalamak için */
  margin: 0 auto;
}

.container header nav a {
  margin: 0 10px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;

  background: #e79947;
}

.img {
  display: inline-block;
  width: 38%;
  padding: 10px;
}

.text {
  display: inline-block;
  width: 54%;
}
.container header nav a :hover {
  /* :hover yazınca üzerine gelince değişsin istiyorum */

  background: white;
  color: #e79947;
}

.contact-section {
  border-top: 1px dashed black;
  padding: 20px 0;
}

.contact-section h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

/*======= contact-section class'da address tag'i için aşağdıaki stilleri içeren bir selector yaratın:
   line-height: 2;
*/

footer {
  width: 100%;
  background: #e79947;
  border-top: 1px dashed white;
}

footer .footer-content {
  margin: 0 auto;
  /*======= width property yaratın. Değerini 605px olarak atayın */
}

footer .footer-content h3 {
  padding: 0;
  margin: 20px 0;
}

footer nav {
  display: flex;
}

footer a {
  margin: 10px;
  color: black;
  text-decoration: underline;
}

footer nav a:first-child {
  margin-left: 0;
}
footer nav {
  color: white;
}

footer .footer-content .copyright {
  padding: 20px 0;
  text-align: center;
}
